Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.Hosting.Lifetime=Information

SignerIdentitySettings__CommonName=Fullerene Farm
SignerIdentitySettings__Organization=Fullerene Project

SigningSettings__MasterSeedBase64=YOUR_HYPER_SECURE_BASE64_SECRET

TempSecureDirectorySettings__Path=/run/secrets_ramdisk

RabbitMqSigningTaskSubscriptionSettings__QueueName=signing_tasks
RabbitMqSigningTaskSubscriptionSettings__ConcurrencyLimit=2

RabbitMqConnectionSettings__Host=rabbitmq
RabbitMqConnectionSettings__Port=5672
RabbitMqConnectionSettings__User=admin
RabbitMqConnectionSettings__Password=YOUR_SECURE_RABBITMQ_PASSWORD

S3StorageSettings__InternalUrl=http://garage:3900
S3StorageSettings__AccessKey=YOUR_SECURE_S3_SIGNER_ACCESS_KEY
S3StorageSettings__SecretKey=YOUR_SECURE_S3_SIGNER_SECRET_KEY
S3StorageSettings__Region=garage

UnsignedApkS3BucketSettings__BucketName=unsigned-artifacts
SignedApkS3BucketSettings__BucketName=signed-artifacts
