CONTAINER_HOST=unix:///run/podman/podman.sock

Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.Hosting.Lifetime=Information

PodmanNixBuilderSettings__NixVolume=nix_build_cache
PodmanNixBuilderSettings__NixImage=docker.io/nixos/nix:latest

RabbitMqConnectionSettings__Host=rabbitmq
RabbitMqConnectionSettings__Port=5672
RabbitMqConnectionSettings__User=admin
RabbitMqConnectionSettings__Password=YOUR_SECURE_RABBITMQ_PASSWORD

RabbitMqBuildTaskSubscriptionSettings__QueueName=build_tasks
RabbitMqBuildTaskSubscriptionSettings__ConcurrencyLimit=1

S3StorageSettings__InternalUrl=http://garage:3900
S3StorageSettings__AccessKey=YOUR_SECURE_S3_WORKER_ACCESS_KEY
S3StorageSettings__SecretKey=YOUR_SECURE_S3_WORKER_SECRET_KEY
S3StorageSettings__Region=garage

UnsignedApkS3BucketSettings__BucketName=unsigned-artifacts
SignedApkS3BucketSettings__BucketName=signed-artifacts
