ASPNETCORE_CONTENTROOT=/app
ASPNETCORE_HTTP_PORTS=8080
ASPNETCORE_ENVIRONMENT=Production

Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning
AllowedHosts=*

ProjectSettings__LicenseTextUrl=https://www.gnu.org/licenses/agpl-3.0.txt
ProjectSettings__LicenseHtmlUrl=https://www.gnu.org/licenses/agpl-3.0.html
ProjectSettings__SourceCodeUrl=https://github.com/fullerene-project/code

BuildStrategySettings__BuildStrategy=OnSubscription
BuildStrategySettings__BuildLatestFromChannels__Stable=3
BuildStrategySettings__BuildLatestFromChannels__Beta=2
BuildStrategySettings__BuildLatestFromChannels__Alpha=1

ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=fullerene;Username=fullerene;Password=YOUR_SECURE_POSTGRES_PASSWORD

RabbitMqConnectionSettings__Host=rabbitmq
RabbitMqConnectionSettings__Port=5672
RabbitMqConnectionSettings__User=admin
RabbitMqConnectionSettings__Password=YOUR_SECURE_RABBITMQ_PASSWORD

RabbitMqTaskQueueMappingSettings__QueueNameByTaskName__BuildTask=build_tasks
RabbitMqTaskQueueMappingSettings__QueueNameByTaskName__SigningTask=signing_tasks

RabbitMqEventQueueSubscriptionSettings__QueueName=fullerene_manager_events
RabbitMqEventQueueSubscriptionSettings__ConcurrencyLimit=2

S3StorageSettings__InternalUrl=http://garage:3900
S3StorageSettings__PublicUrl=http://localhost:3900
S3StorageSettings__AccessKey=YOUR_SECURE_S3_MANAGER_ACCESS_KEY
S3StorageSettings__SecretKey=YOUR_SECURE_S3_MANAGER_SECRET_KEY
S3StorageSettings__Region=garage

UnsignedApkS3BucketSettings__BucketName=unsigned-artifacts
SignedApkS3BucketSettings__BucketName=signed-artifacts
