GARAGE_META_DIR=/var/lib/garage/meta
GARAGE_DATA_DIR=/var/lib/garage/data
GARAGE_DB_ENGINE=lmdb
GARAGE_REPLICATION_FACTOR=1
GARAGE_RPC_BIND_ADDR=0.0.0.0:3901
GARAGE_RPC_SECRET=YOUR_GARAGE_RPC_SECRET
GARAGE_S3_BIND_ADDR=0.0.0.0:3900
GARAGE_S3_REGION=garage
GARAGE_WEB_BIND_ADDR=0.0.0.0:3902
GARAGE_ADMIN_BIND_ADDR=0.0.0.0:3903
GARAGE_ADMIN_TOKEN=YOUR_GARAGE_ADMIN_TOKEN
